<h2>Prescripciones</h2>

<div class="row">
  <div class="col s3">
    <div class="flex-item">
      <p-calendar [(ngModel)]="rangeDates" dateFormat="yy-mm-dd" selectionMode="range" [showIcon]="true"
        [readonlyInput]="true" (onSelect)="onDateSelect()" />
    </div>
  </div>
  <div class="col s3">
    <p-dropdown [options]="filteredMedics" [(ngModel)]="selectedDoctor" optionLabel="name" [filter]="true"
      filterBy="name,lastname,cjp" [showClear]="true" placeholder="Médico" styleClass="w-20rem"
      (onChange)="onDoctorSelect($event)">
      <ng-template pTemplate="filter" let-options="options">
        <div class="flex gap-1">
          <div class="p-inputgroup" (click)="$event.stopPropagation()">
            <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
            <input type="text" pInputText placeholder="Filter" [(ngModel)]="filterValueMedic"
              (keyup)="customFilterMedic($event, options)" />
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="selectedItem" let-selectedOption>
        <div class="flex align-items-center gap-2">
          <div>{{ selectedOption.name }} {{ selectedOption.lastname }} | {{selectedOption.cjp }}</div>
        </div>
      </ng-template>
      <ng-template let-medic pTemplate="item">
        <div class="flex align-items-center gap-2">
          <div>{{ medic.name }} {{ medic.lastname }} | {{ medic.cjp }}</div>
        </div>
      </ng-template>
    </p-dropdown>
  </div>
  <div class="col s3">
    <p-dropdown [options]="filteredPatients" [(ngModel)]="selectedPatient" optionLabel="name" [filter]="true"
      filterBy="name,lastname,document" [showClear]="true" placeholder="Paciente" styleClass="w-20rem"
      (onChange)="onPatienSelect($event)">
      <ng-template pTemplate="filter" let-options="options">
        <div class="flex gap-1">
          <div class="p-inputgroup" (click)="$event.stopPropagation()">
            <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
            <input type="text" pInputText placeholder="Filter" [(ngModel)]="filterValuePatien"
              (keyup)="customFilterPatien($event, options)" />
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="selectedItem" let-selectedOption>
        <div class="flex align-items-center gap-2">
          <div>{{ selectedOption.name }} {{ selectedOption.lastname }}</div>
        </div>
      </ng-template>
      <ng-template let-patient pTemplate="item">
        <div class="flex align-items-center gap-2">
          <div>{{ patient.name }} {{ patient.lastname }} | {{ patient.document }}</div>
        </div>
      </ng-template>
    </p-dropdown>
  </div>
  <div class="col s3">
    <p-dropdown 
      [options]="statuses" 
      [(ngModel)]="selectedStatus" 
      optionLabel="name" 
      [filter]="false"
      placeholder="Seleccione un Estado" 
      styleClass="w-20rem"
      (onChange)="updateSelectedStatuses($event)">
    </p-dropdown>
  </div>

</div>



<p-table [value]="prescriptions" [paginator]="true" [rows]="15" [totalRecords]="totalRecords" [lazy]="true"
  (onLazyLoad)="loadPrescriptions($event)" [loading]="loading">
  <ng-template pTemplate="header">
    <tr>
      <th>Código</th>
      <th>Paciente</th>
      <th>Médico</th>
      <th>Medicamento</th>
      <th>Estado</th>
      <th>Farmacia</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-prescription>
    <tr>
      <td>
        <span>{{ prescription.code }}</span>
        <span>{{ prescription.createdAt | dateTimeFormat }}</span>
      </td>
      <td>
        <span>{{ prescription.patientName }} {{ prescription.patientLastname }}</span>
        <span>CI {{prescription.patientDocument?.number}}</span>
      </td>
      <td>
        <span>{{ prescription.medicName }} {{ prescription.medicLastname }}</span>
        <span>CJP {{ prescription.medicCjp }}</span>
      </td>
      <td>
        <span>{{ prescription.ampDsc }}</span>
        <span>{{ prescription.Laboratorio }}</span>
      </td>

      <td>
        <span>{{ getStatusLabel(prescription.status) }}</span>
      </td>
      <td>
        <span *ngIf="prescription.status !== 'AVAILABLE'">{{ prescription.pharmacyName }}</span>
        <span *ngIf="prescription.status !== 'AVAILABLE'">{{ prescription.updatedAt | dateTimeFormat}}</span>
      </td>
    </tr>
  </ng-template>
</p-table>