.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  table {
    width: 100%;
    margin-bottom: 20px;
  }
  
  button {
    margin-right: 8px;
  }
  

  .flex-container {
    display: flex;
    justify-content: space-between;
    gap: 16px; /* Adjust as needed */
  }
  
  .flex-item {
  //  flex: 1; /* This allows each item to grow and fill space equally */
    max-width: 33%; /* This makes each item take up approximately 4 columns out of 12 */
  }
  
  .card {
    padding: 16px; /* Adjust padding as needed */
  }


  span {
    display: block;
  }