<!-- src/app/components/home/home.component.html -->
<mat-sidenav-container class="custom-sidenav-container">
    <mat-sidenav mode="side" opened class="custom-sidenav">
      <mat-toolbar class="custom-toolbar">
        <img src="assets/images/logos/logo.png" alt="Logo" class="logo">
      </mat-toolbar>
      <mat-nav-list>
        <a disabled="true" mat-list-item routerLink="/prescriptions" routerLinkActive="active" class="menu-item">Dashboard</a>
        <a mat-list-item routerLink="/prescriptions" routerLinkActive="active" class="menu-item">Prescripciones</a>
        <a disabled="true" mat-list-item routerLink="/prescriptions" routerLinkActive="active" class="menu-item">Médicos</a>
        <a disabled="true" mat-list-item routerLink="/prescriptions" routerLinkActive="active" class="menu-item">Pacientes</a>
        <a disabled="true" mat-list-item routerLink="/prescriptions" routerLinkActive="active" class="menu-item">Mi perfil</a>
        
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="custom-content">
      <mat-toolbar class="custom-content-toolbar">
        <!--<span class="toolbar-message">Prestador: Medicare</span>-->
        <img src="assets/images/logos/logo_medicare.jpeg" alt="Logo" class="logo" style="position: absolute; right: 33px;">
      </mat-toolbar>
      
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
