/* src/app/components/home/home.component.css */

.custom-sidenav-container {
  height: 100vh;
  display: flex;
}

.custom-sidenav {
  width: 250px;
  background: white; /* Fondo azul */
  display: flex;
  flex-direction: column;
}

.custom-toolbar {
  background: white; /* Fondo azul del toolbar en el sidenav */
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  transform: scale(1.5);
  width: 100px; /* Ajusta el tamaño según tus necesidades */
}

.toolbar-message {
  color: white; /* Color del mensaje en blanco */
}

.menu-item {
  font-size: 13px;
  display: block;
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
  text-align: center;
  background: white; /* Fondo azul */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  transition: background 0.3s, box-shadow 0.3s;
  text-decoration: none;
  color: white; /* Color de texto en blanco */
}

.menu-item:hover {
  background: white; /* Fondo azul oscuro al pasar el ratón */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.menu-item.active {
  height: auto;
  max-height: 44px;
  padding: 5px 0;
  background: white; /* Fondo azul oscuro cuando está activo */
  color: white; /* Color de texto en blanco cuando está activo */
}

.custom-content {
  background: #e2e8f0; /* Fondo blanco del área de contenido */
  flex-grow: 1;
}

.custom-content-toolbar {
  background: white; /* Fondo azul del toolbar en el contenido */
  color: white; /* Color del mensaje en blanco */
}

.content {
  padding: 16px;
  flex-grow: 1;
}



mat-nav-list {
  h5 {
    text-align: center;
    color: #2d323e !important;
  }
  &:last-child {
    margin-top: calc(100vh - 30rem);
  }
}
