<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened class="example-sidenav">
    <mat-toolbar>Menú Principal</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/medical-providers" routerLinkActive="active" class="menu-item">Proveedores Médicos</a>
      <a mat-list-item routerLink="/medics" routerLinkActive="active" class="menu-item">Médicos</a>
      <a mat-list-item routerLink="/patients" routerLinkActive="active" class="menu-item">Pacientes</a>
      <a mat-list-item routerLink="/prescriptions" routerLinkActive="active" class="menu-item">Prescripciones</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="custom-toolbar">
      <span class="toolbar-message">Bienvenido a la Aplicación Médica</span>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet> <!-- Aquí se renderizan los componentes seleccionados -->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
