/* src/app/components/home/home.component.css */

.custom-sidenav-container {
  height: 100vh;
}

.mat-drawer-container {
  background-color: #f5f8fa;
}

.custom-toolbar {
  background: white; /* Fondo azul del toolbar en el sidenav */
  display: block;
  align-items: center;
}

.logo {
  transform: scale(1.5);
  width: 100px; /* Ajusta el tamaño según tus necesidades */
  margin-left: 15px;
}

.toolbar-message {
  color: white; /* Color del mensaje en blanco */
}

.menu-item {
  font-size: 13px;
  display: block;
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
  text-align: center;
  background: white; /* Fondo azul */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  transition: background 0.3s, box-shadow 0.3s;
  text-decoration: none;
  color: white; /* Color de texto en blanco */
}

.menu-item:hover {
  background: white; /* Fondo azul oscuro al pasar el ratón */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.menu-item.active {
  height: auto;
  max-height: 44px;
  padding: 5px 0;
  background: white; /* Fondo azul oscuro cuando está activo */
  color: white; /* Color de texto en blanco cuando está activo */
}

.custom-content {
  background: #e2e8f0; /* Fondo blanco del área de contenido */
  flex-grow: 1;
}

.custom-content-toolbar {
  background: white; /* Fondo azul del toolbar en el contenido */
  color: white; /* Color del mensaje en blanco */
}

.content {
  padding: 16px;
  flex-grow: 1;
  background-color: #f5f8fa;
}



mat-nav-list {
  h5 {
    text-align: center;
  }
  &:last-child {
    margin-top: calc(100vh - 30rem);
  }
}



h1 {
  padding: 0 1rem;
}

h2 {padding: 1rem;}

mat-toolbar{
  position:fixed;
  top:0;
  z-index: 2;
  padding-top: 10px;
}

mat-sidenav-container {
  height:100%;
}

// Move the content down so that it won't be hidden by the toolbar
mat-sidenav {
  padding-top: 3.5rem;
  @media screen and (min-width: 600px) {
    padding-top: 4rem;
  }

  .entry{
      display: flex;
      align-items: center;
      gap: 1rem;
      padding:0.75rem;
  }
}

// Move the content down so that it won't be hidden by the toolbar
mat-sidenav-content{
  padding-top: 3.5rem;
  @media screen and (min-width: 600px) {
      padding-top: 4rem;
  }
}

.expanded {
  width: 208px;   
  background-color: white;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  color: #2d323e;
}