<p-message [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" severity="info" text="PrimeNG Rocks"></p-message>
<mat-card>
  <mat-card-title>
    <div class="row">
      <div class="col s12">
        <img src="https://gestion.recetadigital.uy/img/logo.1194faa7.png" alt="">
      </div>
      <div class="col s12">
        <h3>Ingreso prestadores</h3>
      </div>
    </div>
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="ngForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Ingrese su email</mat-label>
          <input type="text" matInput placeholder="Username" formControlName="username">
        </mat-form-field>
        <mat-error *ngIf="usernameControl.touched && usernameControl.invalid">
          Email es necesario!!
        </mat-error>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Ingrese su contraseña</mat-label>
          <input type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field>
        <mat-error *ngIf="passwordControl.touched && passwordControl.invalid">
          Password es necesario!!
        </mat-error>
      </p>

      <p *ngIf="error" class="error">
        {{ error }}
      </p>

      <div class="row">
        <div class="col s12">
            <a href="">Olvidé mi contraseña</a>
        </div>
        <div class="col s12 center">
          <div class="button login">
            <button type="submit" mat-button>INGRESAR</button>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>