@import url("https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css");

/* You can add global styles to this file, and also import other style files */
// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'styles/variables';

.login-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
  }
  
  .login .logo {
    margin: 0 auto;
    display: block;
  }
  
  .login h3 {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .login {
    text-align: left;
    max-width: 400px;
    padding: 16px;
    background-color: #fff;
  }
  
  .login .formulate-input {
    margin-bottom: 8px !important;
  }
  
  .login .btn {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
  }
  
  /* Estilos para chart-box */
  .chart-box {
    margin: 2px;
    padding: 16px 8px;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  
  .chart-box h4 {
    font-size: 1.2rem;
  }


.mat-mdc-table {
  --mat-table-row-item-outline-width: 1px;
  table-layout: auto;
  white-space: normal;
  background-color: var(--mat-table-background-color);
}


.card {
  position: relative; /* Ensure the element is positioned */
  z-index: 1; /* Adjust the z-index as needed */
}


span, h2, h5 {
  color: #2d323e !important;
  font-family: Hind, sans-serif !important;
}

mat-sidenav-content {
  border-color: red !important;
} 

p-calendar span input {
  width: 12rem !important;
}

.mdc-list-item__primary-text {
  font-size: 13px !important;
}

.content-table {
  border: 1px solid #e2e8f0;
  border-radius: 5px;
}

label {
  font-size: 10px;
  color: #333;
  font-weight: 500;
  margin-left: 4px;
  text-transform: uppercase;
  display: block;
}